
<app-cabecera [titulo]="'Regístrate'" >
  
</app-cabecera>

<ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="usuario.nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input 
      type="text" 
      [(ngModel)]="usuario.apellidos" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input 
      type="text" 
      [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
      type="text" 
      [(ngModel)]="usuario.pwd" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input 
      type="text" 
      [(ngModel)]="pwd2" required></ion-input>
    </ion-item>

    
    <ion-row>
      <ion-col>
        <ion-button 
        (click)="register()"
        expand="block"
        [disabled]="!esValido()">Registrarse</ion-button>
      </ion-col>
    </ion-row>
</ion-content>