<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button menu="miMenu">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
 
  
  <ion-card *ngFor="let c of misComponentes" [routerLink]="c.ruta" expand="full" [color]="c.color">
    <ion-card-header>
      <ion-card-title>{{c.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="c.imagen"
      class="altoMax"></ion-img>
      {{c.descripcion}}
    </ion-card-content>
  </ion-card>

</ion-content>
